**/.DS_Store
.settings
**/.vs
**/.vscode/*

.eslintcache
*v8.log

# dotenv environment variable files
.env
.env.*

# npm dependencies
node_modules/

# project specific
logs/
__pycache__
ml/filter/runs
ml/pred/runs
ml/pred/checkpoints
ml/pred/observed
ml/data/
ml/filter/checkpoints
scripts
model/

.astro

# Database
*.dump
*.db
*.sqlite
*.sqlite3
data/
redis/

# Build 
dist/
build/

docker-compose.yml

ucaptcha-config.yaml