@import url('InterFont/Inter.css');
@import url('MiSans/MiSans.css');
@import "tailwindcss";

@theme {
    --color-surface-container-high: #f7e4e1;
    --color-on-surface-variant: #534341;
    --color-dark-on-surface-variant: #d8c2be;
    --color-dark-surface-container-high: #322826;
    --color-dark-container: #271d1c;
    --color-container: #fceae7;
}

a {
    @apply text-[#904b40] dark:text-[#ffb2b7];
}


:root {
    font-family: "MiSans", "Inter", sans-serif;
    font-weight: 400;
    @apply bg-[#fff8f6] dark:bg-[#1a1110] text-[#231918] dark:text-[#f1dfdc]
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "InterVariable", "MiSans VF", sans-serif;
        font-optical-sizing: auto;
        font-weight: 330;
    }
}