@import "tailwindcss";

@theme {
	--color-surface-container-high: #f7e4e1;
	--color-on-surface-variant: #534341;
	--color-dark-on-surface-variant: #d8c2be;
	--color-dark-surface-container-high: #322826;
	--color-dark-surface-container: #271d1c;
	--color-surface-container: #fceae7;
	--color-on-surface: #231918;
	--color-dark-on-surface: #f1dfdc;
	--color-surface: #fff8f6;
	--color-dark-surface: #1a1110;
	--color-primary: #904b40;
	--color-dark-primary: #ffb2b7;
	--color-primary-container: #ffdad4;
	--color-dark-primary-container: #73342a;
	--color-on-primary: #ffffff;
	--color-dark-on-primary: #561e16;
	--color-dark-primary-fixed-dim: #ffb4a8;
	--color-secondary-container: #ffdad4;
	--color-dark-secondary-container: #5d3f3b;

	--color-surface-tint: rgb(144 75 64);
	--color-dark-surface-tint: rgb(255 180 168);
	--color-on-primary-container: rgb(115 52 42);
	--color-dark-on-primary-container: rgb(255 218 212);
	--color-secondary: rgb(119 86 81);
	--color-dark-secondary: rgb(231 189 182);
	--color-on-secondary: rgb(255 255 255);
	--color-dark-on-secondary: rgb(68 41 37);
	--color-on-secondary-container: rgb(93 63 59);
	--color-dark-on-secondary-container: rgb(255 218 212);
	--color-tertiary: rgb(112 92 46);
	--color-dark-tertiary: rgb(222 196 140);
	--color-on-tertiary: rgb(255 255 255);
	--color-dark-on-tertiary: rgb(62 46 4);
	--color-tertiary-container: rgb(251 223 166);
	--color-dark-tertiary-container: rgb(86 68 25);
	--color-on-tertiary-container: rgb(86 68 25);
	--color-dark-on-tertiary-container: rgb(251 223 166);
	--color-error: rgb(186 26 26);
	--color-dark-error: rgb(255 180 171);
	--color-on-error: rgb(255 255 255);
	--color-dark-on-error: rgb(105 0 5);
	--color-error-container: rgb(255 218 214);
	--color-dark-error-container: rgb(147 0 10);
	--color-on-error-container: rgb(147 0 10);
	--color-dark-on-error-container: rgb(255 218 214);
	--color-background: rgb(255 248 246);
	--color-dark-background: rgb(26 17 16);
	--color-on-background: rgb(35 25 24);
	--color-dark-on-background: rgb(241 223 220);
	--color-surface-variant: rgb(245 221 218);
	--color-dark-surface-variant: rgb(83 67 65);
	--color-outline: rgb(133 115 112);
	--color-dark-outline: rgb(160 140 137);
	--color-outline-variant: rgb(216 194 190);
	--color-dark-outline-variant: rgb(83 67 65);
	--color-shadow: rgb(0 0 0);
	--color-dark-shadow: rgb(0 0 0);
	--color-scrim: rgb(0 0 0);
	--color-dark-scrim: rgb(0 0 0);
	--color-inverse-surface: rgb(57 46 44);
	--color-dark-inverse-surface: rgb(241 223 220);
	--color-inverse-on-surface: rgb(255 237 234);
	--color-dark-inverse-on-surface: rgb(57 46 44);
	--color-inverse-primary: rgb(255 180 168);
	--color-dark-inverse-primary: rgb(144 75 64);
	--color-primary-fixed: rgb(255 218 212);
	--color-dark-primary-fixed: rgb(255 218 212);
	--color-on-primary-fixed: rgb(58 9 5);
	--color-dark-on-primary-fixed: rgb(58 9 5);
	--color-primary-fixed-dim: rgb(255 180 168);
	--color-on-primary-fixed-variant: rgb(115 52 42);
	--color-dark-on-primary-fixed-variant: rgb(115 52 42);
	--color-secondary-fixed: rgb(255 218 212);
	--color-dark-secondary-fixed: rgb(255 218 212);
	--color-on-secondary-fixed: rgb(44 21 18);
	--color-dark-on-secondary-fixed: rgb(44 21 18);
	--color-secondary-fixed-dim: rgb(231 189 182);
	--color-dark-secondary-fixed-dim: rgb(231 189 182);
	--color-on-secondary-fixed-variant: rgb(93 63 59);
	--color-dark-on-secondary-fixed-variant: rgb(93 63 59);
	--color-tertiary-fixed: rgb(251 223 166);
	--color-dark-tertiary-fixed: rgb(251 223 166);
	--color-on-tertiary-fixed: rgb(37 26 0);
	--color-dark-on-tertiary-fixed: rgb(37 26 0);
	--color-tertiary-fixed-dim: rgb(222 196 140);
	--color-dark-tertiary-fixed-dim: rgb(222 196 140);
	--color-on-tertiary-fixed-variant: rgb(86 68 25);
	--color-dark-on-tertiary-fixed-variant: rgb(86 68 25);
	--color-surface-dim: rgb(232 214 211);
	--color-dark-surface-dim: rgb(26 17 16);
	--color-surface-bright: rgb(255 248 246);
	--color-dark-surface-bright: rgb(66 55 53);
	--color-surface-container-lowest: rgb(255 255 255);
	--color-dark-surface-container-lowest: rgb(20 12 11);
	--color-surface-container-low: rgb(255 240 238);
	--color-dark-surface-container-low: rgb(35 25 24);
	--color-surface-container-highest: rgb(241 223 220);
	--color-dark-surface-container-highest: rgb(61 50 48);

	--font-zh: "InterVariable", "MiSans VF", sans-serif;
}

a {
	@apply text-primary dark:text-dark-primary;
}

:root {
	font-family: "MiSans", "Inter", sans-serif;
	font-weight: 400;
	@apply bg-surface dark:bg-dark-surface text-on-surface dark:text-dark-on-surface;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: "InterVariable", "MiSans VF", sans-serif;
		font-optical-sizing: auto;
		font-weight: 330;
	}
}
